.about {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(11, 1fr);
    height: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
    align-self: center;
    width: 60%;
    border: 1px solid #d8d8d8;
    border-radius: 25px 0 25px 0;
}

.about-item-1 {
    grid-row: 3 / 8;
    grid-column: 2 / 7;
    display: flex;
    align-items: center;
    z-index: 10;
    transition: all 5s ease;
}

.about-item-1 h2 {
    font-size: .8rem;
    word-spacing: 1px;
    color: #666679;
    padding-left: 6%;
}

.about-item-description {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.about-item-description p {
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.9;
    letter-spacing: 1px;
}

.about-title {
    letter-spacing: 1.2px;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

.about-title span {
    font-size: 1.8rem;
}

.about-item-2 {
    grid-row: 1 / 10;
    grid-column: 8 / 12;
    text-transform: uppercase;
    height: 100%;
    border-radius: 0 0 25px 0;
    overflow: hidden;
}

.about-item-2 img {
    object-fit: cover;
    background : black;
    height: 100%;
    width: 100%;
    
}

// @media (max-width: 800px) {
//     .about {
//         width: 80%;
//         height: 80%;
//     }
// }

@media (max-width: 600px) {
    .about {
        width: 80%;
        height: 60%;
        margin-bottom: 10%;
    }
    .about-item-1 {
        grid-row: 4 / 9;
        grid-column: 2 / 10;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, .7);
        border-radius: 0 3px 0 0;
    }
    .about-item-2 {
        grid-row: 1 / 7;
        grid-column: 6 / 12;
        text-transform: uppercase;
        height: 100%;
        border-radius: 0 0 25px 0;
        overflow: hidden;
    }
}

@media (max-width: 450px) {
    .about {
        height: 70%;
        margin-bottom: 15%;
    }
    .about-item-1 {
        grid-row: 5 / 9;
        grid-column: 1/ 12;
        margin: 0 auto;
        padding: 8%;
        border-radius: 0 0px 25px 0;
    }
}

@media (max-width: 450px) and (max-height: 700px) {
    .about-item-1 {
        grid-row: 1 / 11;
        grid-column: 2/ 12;
        margin: 0 auto;
        padding: 8%;
    }
}

